/* UserEditPage.css */

.edit-account-root {
    -fx-padding: 20px;
    -fx-alignment: center;
}

.grid-pane {
    -fx-alignment: center;
}

.save-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.save-button:hover {
    -fx-background-color: #45a049;
}

.label {
    -fx-font-size: 16px;
}

.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.combo-box {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}
